mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
            img.thumb(src=video.thumbUrl, crossorigin)

        div.video-mixin__data
            div.video_info
                a(href=`/users/${video.owner._id}`) 
                    img.video_owner__avatar(src=video.owner.avatarUrl, crossorigin)
            div.video_info
                span.video-mixin__title=video.title 
                div.video-mixin__meta
                    span #{video.owner.name} •
                    span #{video.meta.views}회
